nav{
    direction: rtl;
    height: 5em;
    background: #1f4e5f;
    box-shadow: 4px 4px 4px #00000029;
    position: fixed;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.logo{
    height: 5em;

}

.icon{
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
    background: transparent;
    border-color: transparent;
    direction: none;
}
